# Dependencies
node_modules/

# Build output
dist/
.astro/

# Environment variables
.env
.env.production
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# macOS
.DS_Store
._*

# IDE
.idea/
.vscode/

# Local Netlify folder
.netlify
